
[data-v-161720c0] .p-terminal .xterm {
  overflow: hidden;
}
[data-v-161720c0] .p-terminal .xterm-screen {
  overflow: hidden;
  background-color: var(--color-neutral-900);
}

[data-v-c03d3536] .p-terminal .xterm {
  overflow-x: auto;
}
[data-v-c03d3536] .p-terminal .xterm-screen {
  overflow-y: hidden;
}

[data-v-49782f06] .p-terminal .xterm {
  overflow-x: auto;
}
[data-v-49782f06] .p-terminal .xterm-screen {
  overflow-y: hidden;
}
