
[data-v-f5f3c1a5] .p-inputtext {
  --p-form-field-padding-x: 0.625rem;
}

.no-results-placeholder[data-v-f45f4900] .p-card {
  background-color: var(--surface-ground);
  text-align: center;
  box-shadow: unset;
}
.no-results-placeholder h3[data-v-f45f4900] {
  color: var(--text-color);
  margin-bottom: 0.5rem;
}
.no-results-placeholder p[data-v-f45f4900] {
  color: var(--text-color-secondary);
  margin-bottom: 1rem;
}

.dot-animation[data-v-ec0691c8] {
  animation: dot-pulse-ec0691c8 1s ease-in-out infinite;
}
@keyframes dot-pulse-ec0691c8 {
0%,
  80%,
  100% {
    opacity: 0.3;
}
40% {
    opacity: 1;
}
}

.content-divider[data-v-1d39213b] {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}
.content-divider--horizontal[data-v-1d39213b] {
  width: 100%;
  height: var(--v4bb7c524);
}
.content-divider--vertical[data-v-1d39213b] {
  height: 100%;
  width: var(--v4bb7c524);
}

.editable-text[data-v-3a1e2bf2] {
  display: inline;
}
.editable-text input[data-v-3a1e2bf2] {
  width: 100%;
  box-sizing: border-box;
}

.maskEditor-dialog-root[data-v-961e5a56] {
  position: relative;
  overflow: hidden;
}
.maskEditor-ui-container[data-v-961e5a56] {
  position: relative;
  z-index: 1;
}
[data-v-961e5a56] #maskEditorCanvasContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.upload-model-dialog[data-v-038de8cd] {
  width: 90vw;
  max-width: 800px;
  min-height: min(400px, 80vh);
  max-height: 90vh;
}
@media (min-width: 640px) {
.upload-model-dialog[data-v-038de8cd] {
    width: auto;
    min-width: 600px;
}
}

.slot_row[data-v-ec8b0bf0] {
  padding: 2px;
}

/* Original N-Sidebar styles */
._sb_dot[data-v-ec8b0bf0] {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: grey;
}
.node_header[data-v-ec8b0bf0] {
  line-height: 1;
  padding: 8px 13px 7px;
  margin-bottom: 5px;
  font-size: 15px;
  text-wrap: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.headdot[data-v-ec8b0bf0] {
  width: 10px;
  height: 10px;
  float: inline-start;
  margin-right: 8px;
}
.IMAGE[data-v-ec8b0bf0] {
  background-color: #64b5f6;
}
.VAE[data-v-ec8b0bf0] {
  background-color: #ff6e6e;
}
.LATENT[data-v-ec8b0bf0] {
  background-color: #ff9cf9;
}
.MASK[data-v-ec8b0bf0] {
  background-color: #81c784;
}
.CONDITIONING[data-v-ec8b0bf0] {
  background-color: #ffa931;
}
.CLIP[data-v-ec8b0bf0] {
  background-color: #ffd500;
}
.MODEL[data-v-ec8b0bf0] {
  background-color: #b39ddb;
}
.CONTROL_NET[data-v-ec8b0bf0] {
  background-color: #a5d6a7;
}
._sb_node_preview[data-v-ec8b0bf0] {
  color: var(--descrip-text);
  border: 1px solid var(--descrip-text);
  min-width: 300px;
  width: min-content;
  height: fit-content;
  z-index: 9999;
  border-radius: 12px;
  overflow: hidden;
  font-size: 12px;
  padding-bottom: 10px;
}
._sb_node_preview ._sb_description[data-v-ec8b0bf0] {
  margin: 10px;
  padding: 6px;
  background: var(--border-color);
  border-radius: 5px;
  font-style: italic;
  font-weight: 500;
  font-size: 0.9rem;
  word-break: break-word;
}
._sb_table[data-v-ec8b0bf0] {
  display: grid;

  grid-column-gap: 10px;
  /* Spazio tra le colonne */
  width: 100%;
  /* Imposta la larghezza della tabella al 100% del contenitore */
}
._sb_row[data-v-ec8b0bf0] {
  display: grid;
  grid-template-columns: 10px 1fr 1fr 1fr 10px;
  grid-column-gap: 10px;
  align-items: center;
  padding-left: 9px;
  padding-right: 9px;
}
._sb_row_string[data-v-ec8b0bf0] {
  grid-template-columns: 10px 1fr 1fr 10fr 1fr;
}
._sb_col[data-v-ec8b0bf0] {
  border: 0 solid #000;
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-end;
}
._sb_inherit[data-v-ec8b0bf0] {
  display: inherit;
}
._long_field[data-v-ec8b0bf0] {
  background: var(--bg-color);
  border: 2px solid var(--border-color);
  margin: 5px 5px 0;
  border-radius: 10px;
  line-height: 1.7;
  text-wrap: nowrap;
}
._sb_arrow[data-v-ec8b0bf0] {
  color: var(--fg-color);
}
._sb_preview_badge[data-v-ec8b0bf0] {
  text-align: center;
  background: var(--comfy-input-bg);
  font-weight: 700;
  color: var(--error-text);
}

.comfy-image-wrap[data-v-a836da0b] {
  display: contents;
}
.comfy-image-blur[data-v-a836da0b] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.comfy-image-main[data-v-a836da0b] {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}
.contain .comfy-image-wrap[data-v-a836da0b] {
  position: relative;
  width: 100%;
  height: 100%;
}
.contain .comfy-image-main[data-v-a836da0b] {
  object-fit: contain;
  backdrop-filter: blur(10px);
  position: absolute;
}
.broken-image-placeholder[data-v-a836da0b] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 2rem;
}
.broken-image-placeholder i[data-v-a836da0b] {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

/* PrimeVue's galleria teleports the fullscreen gallery out of subtree so we
cannot use scoped style here. */
img.galleria-image {
  max-width: 100vw;
  max-height: 100vh;
  object-fit: contain;
}
.p-galleria-close-button {
  /* Set z-index so the close button doesn't get hidden behind the image when image is large */
  z-index: 1;
}

/* Mobile/tablet specific fixes */
@media screen and (max-width: 768px) {
.p-galleria-prev-button,
  .p-galleria-next-button {
    z-index: 2;
}
}

.tree-node[data-v-83765942] {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.leaf-count-badge[data-v-83765942] {
  margin-left: 0.5rem;
}
.node-content[data-v-83765942] {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.leaf-label[data-v-83765942] {
  margin-left: 0.5rem;
}
[data-v-83765942] .editable-text span {
  word-break: break-all;
}

[data-v-3ecd2a79] .tree-explorer-node-label {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: var(--p-tree-node-gap);
  flex-grow: 1;
}

/*
 * The following styles are necessary to avoid layout shift when dragging nodes over folders.
 * By setting the position to relative on the parent and using an absolutely positioned pseudo-element,
 * we can create a visual indicator for the drop target without affecting the layout of other elements.
 */
[data-v-3ecd2a79] .p-tree-node-content:has(.tree-folder) {
  position: relative;
}
[data-v-3ecd2a79] .p-tree-node-content:has(.tree-folder.can-drop)::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--p-content-color);
  pointer-events: none;
}

.model_preview[data-v-a1867382] {
  background-color: var(--comfy-menu-bg);
  color: var(--descrip-text);
  border: 1px solid var(--descrip-text);
  min-width: 300px;
  max-width: 500px;
  width: fit-content;
  height: fit-content;
  z-index: 9999;
  border-radius: 12px;
  overflow: hidden;
  font-size: 12px;
  padding: 10px;
}
.model_preview_image[data-v-a1867382] {
  margin: auto;
  width: fit-content;
}
.model_preview_image img[data-v-a1867382] {
  max-width: 100%;
  max-height: 150px;
  object-fit: contain;
}
.model_preview_title[data-v-a1867382] {
  font-weight: 700;
  text-align: center;
  font-size: 14px;
}
.model_preview_top_container[data-v-a1867382] {
  text-align: center;
  line-height: 0.5;
}
.model_preview_filename[data-v-a1867382],
.model_preview_author[data-v-a1867382],
.model_preview_architecture[data-v-a1867382] {
  display: inline-block;
  text-align: center;
  margin: 5px;
  font-size: 10px;
}
.model_preview_prefix[data-v-a1867382] {
  font-weight: 700;
}

.model-lib-model-icon-container[data-v-641705c5] {
  display: inline-block;
  position: relative;
  left: 0;
  height: 1.5rem;
  vertical-align: top;
  width: 0;
}
.model-lib-model-icon[data-v-641705c5] {
  background-size: cover;
  background-position: center;
  display: inline-block;
  position: relative;
  left: -2.2rem;
  top: -0.1rem;
  height: 1.7rem;
  width: 1.7rem;
  vertical-align: top;
}

[data-v-9109afc0] .pi-fake-spacer {
  height: 1px;
  width: 16px;
}

.node-help-content[data-v-972fbc7b] :is(img, video) {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: calc(var(--spacing) * 4);
}
.markdown-content[data-v-972fbc7b] h1,
.fallback-content h1[data-v-972fbc7b] {
  margin-top: calc(var(--spacing) * 8);
  margin-bottom: calc(var(--spacing) * 4);
  font-size: var(--text-2xl);
  font-weight: var(--font-weight-bold);
}
.markdown-content[data-v-972fbc7b] h2,
.fallback-content h2[data-v-972fbc7b] {
  margin-top: calc(var(--spacing) * 8);
  margin-bottom: calc(var(--spacing) * 4);
  font-size: var(--text-lg);
  font-weight: var(--font-weight-bold);
}
.markdown-content[data-v-972fbc7b] h3,
.fallback-content h3[data-v-972fbc7b] {
  margin-top: calc(var(--spacing) * 8);
  margin-bottom: calc(var(--spacing) * 4);
  font-size: var(--text-base);
  font-weight: var(--font-weight-bold);
}
.markdown-content[data-v-972fbc7b] h4,
.fallback-content h4[data-v-972fbc7b] {
  margin-top: calc(var(--spacing) * 8);
  margin-bottom: calc(var(--spacing) * 4);
  font-size: var(--text-sm);
  font-weight: var(--font-weight-bold);
}
.markdown-content[data-v-972fbc7b] h5,
.fallback-content h5[data-v-972fbc7b] {
  margin-top: calc(var(--spacing) * 8);
  margin-bottom: calc(var(--spacing) * 4);
  font-size: var(--text-sm);
  font-weight: var(--font-weight-bold);
}
.markdown-content[data-v-972fbc7b] h6,
.fallback-content h6[data-v-972fbc7b] {
  margin-top: calc(var(--spacing) * 8);
  margin-bottom: calc(var(--spacing) * 4);
  font-size: var(--text-xs);
  font-weight: var(--font-weight-bold);
}
.markdown-content[data-v-972fbc7b] td,
.fallback-content td[data-v-972fbc7b] {
  color: var(--drag-text);
}
.markdown-content[data-v-972fbc7b] a,
.fallback-content a[data-v-972fbc7b] {
  color: var(--drag-text);
  text-decoration: underline;
}
.markdown-content[data-v-972fbc7b] th,
.fallback-content th[data-v-972fbc7b] {
  color: var(--fg-color);
}
.markdown-content[data-v-972fbc7b] ul,
.markdown-content[data-v-972fbc7b] ol,
.fallback-content ul[data-v-972fbc7b],
.fallback-content ol[data-v-972fbc7b] {
  margin-block: calc(var(--spacing) * 2);
  padding-left: calc(var(--spacing) * 8);
}
.markdown-content[data-v-972fbc7b] ul ul,
.markdown-content[data-v-972fbc7b] ol ol,
.markdown-content[data-v-972fbc7b] ul ol,
.markdown-content[data-v-972fbc7b] ol ul,
.fallback-content ul ul[data-v-972fbc7b],
.fallback-content ol ol[data-v-972fbc7b],
.fallback-content ul ol[data-v-972fbc7b],
.fallback-content ol ul[data-v-972fbc7b] {
  margin-block: calc(var(--spacing) * 2);
  padding-left: calc(var(--spacing) * 6);
}
.markdown-content[data-v-972fbc7b] li,
.fallback-content li[data-v-972fbc7b] {
  margin-block: calc(var(--spacing) * 2);
}
.markdown-content[data-v-972fbc7b] *:first-child,
.fallback-content[data-v-972fbc7b] > *:first-child {
  margin-top: 0;
}
.markdown-content[data-v-972fbc7b] code,
.fallback-content code[data-v-972fbc7b] {
  color: var(--code-text-color);
  background-color: var(--code-bg-color);
  border-radius: var(--radius);
  padding: calc(var(--spacing) * 0.5) calc(var(--spacing) * 1.5);
}
.markdown-content[data-v-972fbc7b] table,
.fallback-content table[data-v-972fbc7b] {
  border-collapse: collapse;
}
.fallback-content table[data-v-972fbc7b] {
  width: 100%;
}
.markdown-content[data-v-972fbc7b] th,
.markdown-content[data-v-972fbc7b] td,
.fallback-content th[data-v-972fbc7b],
.fallback-content td[data-v-972fbc7b] {
  padding: calc(var(--spacing) * 2);
}
.markdown-content[data-v-972fbc7b] tr,
.fallback-content tr[data-v-972fbc7b] {
  border-bottom: 1px solid var(--content-bg);
}
.markdown-content[data-v-972fbc7b] tr:last-child,
.fallback-content tr[data-v-972fbc7b]:last-child {
  border-bottom: none;
}
.markdown-content[data-v-972fbc7b] thead,
.fallback-content thead[data-v-972fbc7b] {
  border-bottom: 1px solid var(--p-text-color);
}
.markdown-content[data-v-972fbc7b] pre,
.fallback-content pre[data-v-972fbc7b] {
  margin-block: calc(var(--spacing) * 4);
  overflow-x: auto;
  border-radius: var(--radius);
  padding: calc(var(--spacing) * 4);
  background-color: var(--code-block-bg-color);
code {
    background-color: transparent;
    padding: 0;
    color: var(--p-text-color);
}
}
.markdown-content[data-v-972fbc7b] table {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.p-selectbutton .p-button[data-v-254ef6c3] {
  padding: 0.5rem;
}
.p-selectbutton .p-button .pi[data-v-254ef6c3] {
  font-size: 1.5rem;
}
.field[data-v-254ef6c3] {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@keyframes marquee-scroll {
0%,
  20% {
    transform: translateX(0);
}
80%,
  100% {
    transform: translateX(var(--_marquee-end));
}
}

.form-input[data-v-8d8a16d4] .input-slider .p-inputnumber input,
.form-input[data-v-8d8a16d4] .input-slider .slider-part {
  width: 5rem;
}
.form-input[data-v-8d8a16d4] .input-knob .p-inputnumber input,
.form-input[data-v-8d8a16d4] .input-knob .knob-part {
  width: 8rem;
}
.form-input[data-v-8d8a16d4] .p-inputtext,
.form-input[data-v-8d8a16d4] .p-select {
  width: 11rem;
}

@media (prefers-reduced-motion: no-preference) {
.setting-highlight {
    animation: setting-highlight-pulse 1.5s ease-in-out;
}
}
@keyframes setting-highlight-pulse {
0%,
  100% {
    background-color: transparent;
}
30% {
    background-color: color-mix(
      in srgb,
      var(--p-primary-color) 15%,
      transparent
    );
}
}
/* Generic */
.comfyui-button {
  display: flex;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  box-sizing: border-box;
  margin: 0;
  transition: box-shadow 0.1s;
}

.comfyui-button:active {
  box-shadow: inset 1px 1px 10px rgb(0 0 0 / 0.5);
}

.comfyui-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.primary .comfyui-button,
.primary.comfyui-button {
  background-color: var(--primary-bg) !important;
  color: var(--primary-fg) !important;
}

.primary .comfyui-button:not(:disabled):hover,
.primary.comfyui-button:not(:disabled):hover {
  background-color: var(--primary-hover-bg) !important;
  color: var(--primary-hover-fg) !important;
}

/* Popup */
.comfyui-popup {
  position: absolute;
  top: var(--top);
  right: var(--right);
  bottom: var(--bottom);
  left: var(--left);
  z-index: 2000;
  max-height: calc(100vh - var(--limit) - 10px);
  box-shadow: 3px 3px 5px 0 rgb(0 0 0 / 0.3);
}

.comfyui-popup:not(.open) {
  display: none;
}

.comfyui-popup.right.open {
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  overflow: hidden;
}
/* Split button */
.comfyui-split-button {
  position: relative;
  display: flex;
}

.comfyui-split-primary {
  flex: auto;
}

.comfyui-split-primary .comfyui-button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid var(--comfy-menu-bg);
  width: 100%;
}

.comfyui-split-arrow .comfyui-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 2px;
  padding-right: 2px;
}

.comfyui-split-button-popup {
  white-space: nowrap;
  background-color: var(--content-bg);
  color: var(--content-fg);
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.comfyui-split-button-popup.hover {
  z-index: 2001;
}
.comfyui-split-button-popup > .comfyui-button {
  border: none;
  background-color: transparent;
  color: var(--fg-color);
  padding: 8px 12px 8px 8px;
}

.comfyui-split-button-popup > .comfyui-button:not(:disabled):hover {
  background-color: var(--comfy-input-bg);
}

/* Button group */
.comfyui-button-group {
  display: flex;
  border-radius: 4px;
  overflow: hidden;
}

.comfyui-button-group:empty {
  display: none;
}
.comfyui-button-group > .comfyui-button,
.comfyui-button-group > .comfyui-button-wrapper > .comfyui-button {
  padding: 4px 10px;
  border-radius: 0;
}
